<% include ../includes/header %>
<section class="hero is-medium is-primary is-bold">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                Profile
            </h1>
            <div class="container has-text-centered">
                <div class="card">
                    <div class="card-content">
                        <div class="content">
                            <p><b>Nom : </b> <%= user.lastName %></p>
                            <p><b>Prénom : </b> <%= user.name %></p>
                            <p><b>Genre : </b> <%= user.gender %></p>
                            <time><b>Date de naissance : </b> <%= user.birthdate %></time>
                            <p><b>Code lieux de naissance : </b>  <%= user.birthplace %></p>
                            <p><b>Code pays de naissance : </b>  <%= user.country %></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<% include ../includes/footer %>