<% include ../includes/header.ejs %>
<section class="hero is-link is-fullheight">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                Profile utilisateur
            </h1>
            <div class="subtitle">
                <div class="card">
                    <div class="card-content">
                        <div id="fconnect-profile" data-fc-logout-url="/logout"><a href="#" class="has-text-link"> <%= user.lastName %> <%= user.name %> </a></div>
                        <div class="content">
                            <div class="container has-text-centered">
                                <%if (user.username) { %>
                                    <p><b>Username : </b><%= user.username %></p>
                                <% } %>
                                <p><b>Sexe : </b><%= user.gender %></p>
                                <time datetime="2016-1-1"><b>Date de naissance : </b><%= user.birthdate %></time>
                                <p><b>Code du lieux de naissance : </b><%= user.birthplace %></p>
                                <p><b>Code du pays de naissance : </b><%= user.country %></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<% include ../includes/footer.ejs %>