<% include ../includes/header.ejs %>
<section class="container custom-content">
    <div class="columns">
        <div class="column is-half">
            <ul>
                <li>Obtenir des informations de La direction générale des Finances publiques (DGFIP)  </li>
                <li class="has-text-centered"><a class="button is-link" href="/callFD">Appel à la DGFIP</a></li>
            </ul>
        </div>
        <% if (isFdData) {%>
        <div class="column">
            <ul>
                <li>RFR</li>
                <li>Nombre de personnes à charge</li>
                <li>Enfants à charge en garde alternée</li>
                <li>personnes Invalides à charge</li>
                <li>enfants Majeurs Célibataires</li>
                <li>Enfants Majeurs Maries ou Chargé de famille</li>
                <li>NbPacP</li>
            </ul>
        </div>
        <div class="column">
            <ul>
                <li><%= dgfipData.RFR %></li>
                <li><%= dgfipData.nombreDePersonnesACharge %></li>
                <li><%= dgfipData.nombreDEnfantsACharge %></li>
                <li><%= dgfipData.enfantsAChargeEnGardeAlternee %></li>
                <li><%= dgfipData.personnesInvalidesACharge %></li>
                <li><%= dgfipData.enfantsMajeursCelibataires %></li>
                <li><%= dgfipData.enfantsMajeursMariesOuChargeDeFamille %></li>
                <li><%= dgfipData.nbPacP %></li>
            </ul>
        </div>
        <%}%>
    </div>
</section>
<% include ../includes/footer.ejs %>